<div class="blog-card">
  <div class="blog-card__image">
    <img src="https://prod.assets.earlygamecdn.com/images/The-Last-of-Us-Part-II-Multiplayer-Factions-2-battle-royale.jpg?transform=article3x_webp&x=0.5&y=0.5" alt="">
  </div>

  <div class="blog-card__content">
    <div class="blog-card__title">
      <h2>Lorem Ipsum</h2>
    </div>

    <div class="blog-card__summary">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora hic autem facilis, omnis.
        <br />
        <a href="">Read more..</a>
      </p>
    </div>

      <div class="blog-card__categories">
        <div class="blog-card__category blog-card__category--games"><a href="">Games</a></div>
        <div class="blog-card__category blog-card__category--esport"><a href="">E-sport</a></div>
        <div class="blog-card__category blog-card__category--pcgamer"><a href="">PC Gamer</a></div>
      </div>
  </div>


</div>
