<div class="blog-card">
  <div class="blog-card__image">
    <img src="{{ post.image }}" alt="">
  </div>

  <div class="blog-card__content">
    <div class="blog-card__title">
      {{ post.title }}
    </div>

    <div class="blog-card__summary">
      <p>
        {{ post.content }}
        <br />
        <a href="">Read more..</a>
      </p>
    </div>

      <div class="blog-card__categories">
        <div class="blog-card__category blog-card__category--games"><a href="" *ngFor="let category of post.categories">{{ category.name }}</a></div>
      </div>
  </div>


</div>
