.blog-card
{
  width: 55rem;
  height: 10rem;

  border-radius: .3125rem;
  margin: .625rem;

  display: flex;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 1rem;
  }

  &__title h2 {
    padding: 0;
    margin: 0;
  }

  &__image {
    width: 15.625rem;
    display: flex;
    justify-content: center;
  }

  &__image img {
    max-width: 100%;
    height: auto;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
  }

  &__category a {
    text-decoration: none;
    margin-right: 10px;
  }
}
